body, html {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
body header, html header {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
}
body header div:nth-of-type(1), html header div:nth-of-type(1) {
  font-size: 24px;
  color: white;
  width: 100%;
  height: 45px;
  background: #e4366b;
  text-align: center;
  line-height: 45px;
}
body header div:nth-of-type(1) a, html header div:nth-of-type(1) a {
  text-decoration: none;
  color: white;
  position: absolute;
  left: 0;
}
body header #search, html header #search {
  width: 100%;
  height: 65px;
  background: #52525a;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body header #search .iconfont, html header #search .iconfont {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 42px;
  margin-left: 10%;
  background: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
}
body header #search input, html header #search input {
  font-size: 15px;
  border: none;
  width: 70%;
  height: 40px;
  margin-right: 10%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  outline-style: none;
}
body section, html section {
  width: 100%;
  position: absolute;
  top: 110px;
  bottom: 60px;
}
body section .listCont, html section .listCont {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
body section .listCont .Listslide, html section .listCont .Listslide {
  width: 100%;
  height: 50px;
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  line-height: 50px;
  border-bottom: 1px dashed #333333;
}
body section .listCont .Listslide span:nth-of-type(1), html section .listCont .Listslide span:nth-of-type(1) {
  margin-left: 10px;
}
body section .listCont .Listslide span:nth-of-type(2), html section .listCont .Listslide span:nth-of-type(2) {
  margin-right: 10px;
}
body section .classCont1, html section .classCont1 {
  display: none;
  width: 100%;
  height: 50px;
  background: #313131;
}
body section .classCont1 .classWrapper1, html section .classCont1 .classWrapper1 {
  width: 100%;
  height: 50px;
}
body section .classCont1 .classWrapper1 .classslide, html section .classCont1 .classWrapper1 .classslide {
  width: 50px;
  height: 50px;
  background: #313131;
  text-align: center;
  line-height: 50px;
  color: #9699a0;
  font-size: 1rem;
  position: relative;
}
body section .classCont1 .classWrapper1 .active, html section .classCont1 .classWrapper1 .active {
  color: white;
}
body section .classCont1 .classWrapper1 .active:after, html section .classCont1 .classWrapper1 .active:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom: 10px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
body section .proCont1, html section .proCont1 {
  display: none;
  width: 100%;
  position: absolute;
  top: 50px;
  bottom: 0;
  background: #f3f4f6;
}
body section .proCont1 .proWrapper1, html section .proCont1 .proWrapper1 {
  width: 100%;
  height: 100%;
}
body section .proCont1 .proWrapper1 .proListslide1, html section .proCont1 .proWrapper1 .proListslide1 {
  width: 100%;
  height: 100%;
}
body section .proCont1 .proWrapper1 .proListslide1 .proCont2, html section .proCont1 .proWrapper1 .proListslide1 .proCont2 {
  width: 100%;
  height: 100%;
  background: #f3f4f6;
}
body section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2, html section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-flow: row wrap;
}
body section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 .proListslide2, html section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 .proListslide2 {
  width: 50%;
  height: 50% !important;
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
body section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 .proListslide2 img, html section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 .proListslide2 img {
  width: 60%;
  height: 60%;
  box-shadow: 5px 5px 8px 2px #333333;
}
body section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 .proListslide2 h5, html section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 .proListslide2 h5 {
  margin-top: 10px;
  margin-bottom: 0;
  width: 80%;
  height: 10%;
  text-align: center;
  font-size: 0.8rem;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
body section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 .proListslide2 div, html section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 .proListslide2 div {
  display: inline-flex;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 14px;
  width: 80%;
  height: 10%;
}
body section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 .proListslide2 div span:nth-of-type(1), html section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 .proListslide2 div span:nth-of-type(1) {
  color: #d51e20;
  font-weight: bold;
  font-size: 0.8rem;
}
body section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 .proListslide2 div span:nth-of-type(2), html section .proCont1 .proWrapper1 .proListslide1 .proCont2 .proWrapper2 .proListslide2 div span:nth-of-type(2) {
  display: inline-flex;
  align-items: center;
  color: #868686;
  text-decoration: line-through;
  text-align: center;
}
body footer, html footer {
  width: 100%;
  height: 60px;
  background: #484850;
  position: fixed;
  bottom: 0;
  display: flex;
}
body footer .footerDiv:nth-of-type(2), html footer .footerDiv:nth-of-type(2) {
  background: #333333;
}
body footer .footerDiv, html footer .footerDiv {
  width: 20%;
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}
body footer .footerDiv div, html footer .footerDiv div {
  width: 100%;
  height: 3px;
}
body footer .footerDiv .focus, html footer .footerDiv .focus {
  background: red;
}
body footer .footerDiv .iconfont, html footer .footerDiv .iconfont {
  font-size: 1.3rem;
}
body footer .footerDiv span:nth-of-type(2), html footer .footerDiv span:nth-of-type(2) {
  font-size: 0.65rem;
  margin-bottom: 4px;
}
