body, html {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
body header, html header {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
}
body header div:nth-of-type(1), html header div:nth-of-type(1) {
  font-size: 24px;
  color: white;
  width: 100%;
  height: 45px;
  background: #e4366b;
  text-align: center;
  line-height: 45px;
}
body header #search, html header #search {
  width: 100%;
  height: 65px;
  background: #52525a;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body header #search .iconfont, html header #search .iconfont {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 42px;
  margin-left: 10%;
  background: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
}
body header #search input, html header #search input {
  font-size: 15px;
  border: none;
  width: 70%;
  height: 40px;
  margin-right: 10%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  outline-style: none;
}
body section, html section {
  width: 100%;
  position: absolute;
  top: 110px;
  bottom: 60px;
  background: #f7f7f7;
  overflow-y: auto;
}
body section .listCont, html section .listCont {
  width: 100%;
  height: 100%;
}
body section .listCont .listWrapper, html section .listCont .listWrapper {
  width: 100%;
  height: 100%;
}
body section .listCont .listWrapper .swiper-slide, html section .listCont .listWrapper .swiper-slide {
  width: 100%;
  height: 140px;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #333333;
}
body section .listCont .listWrapper .swiper-slide .listL, html section .listCont .listWrapper .swiper-slide .listL {
  width: 40%;
  height: 100px;
  margin: 20px 20px;
}
body section .listCont .listWrapper .swiper-slide .listL img, html section .listCont .listWrapper .swiper-slide .listL img {
  width: 100%;
  height: 100%;
}
body section .listCont .listWrapper .swiper-slide .listR, html section .listCont .listWrapper .swiper-slide .listR {
  width: 50%;
  height: 100px;
  margin: 20px 10px 20px 0;
}
body section .listCont .listWrapper .swiper-slide .listR p, html section .listCont .listWrapper .swiper-slide .listR p {
  width: 100%;
  font-size: 13px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
body section .listCont .listWrapper .swiper-slide .listR div:nth-of-type(1), html section .listCont .listWrapper .swiper-slide .listR div:nth-of-type(1) {
  width: 100%;
  height: 33.3%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
body section .listCont .listWrapper .swiper-slide .listR div:nth-of-type(1) span:nth-of-type(1), html section .listCont .listWrapper .swiper-slide .listR div:nth-of-type(1) span:nth-of-type(1) {
  font-size: 27px;
  color: #e02761;
}
body section .listCont .listWrapper .swiper-slide .listR div:nth-of-type(1) span:nth-of-type(2), html section .listCont .listWrapper .swiper-slide .listR div:nth-of-type(1) span:nth-of-type(2) {
  font-size: 12px;
  margin-right: 20px;
  color: #333333;
}
body section .listCont .listWrapper .swiper-slide .listR div:nth-of-type(2), html section .listCont .listWrapper .swiper-slide .listR div:nth-of-type(2) {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 33.3%;
  color: gray;
  font-size: 15px;
  text-decoration: line-through;
}
body section .listCont .listWrapper .swiper-slide .listR div:nth-of-type(2) img, html section .listCont .listWrapper .swiper-slide .listR div:nth-of-type(2) img {
  height: 80%;
}
body section .listCont .listWrapper .swiper-slide:nth-of-type(1), html section .listCont .listWrapper .swiper-slide:nth-of-type(1) {
  border: 0;
}
body section .listCont .listWrapper .bannerslide, html section .listCont .listWrapper .bannerslide {
  width: 100%;
  height: 140px;
}
body section .listCont .listWrapper .bannerslide .bannerCont, html section .listCont .listWrapper .bannerslide .bannerCont {
  width: 100%;
  height: 100%;
}
body section .listCont .listWrapper .bannerslide .bannerCont .swiper-slide, html section .listCont .listWrapper .bannerslide .bannerCont .swiper-slide {
  width: 100%;
  height: 100%;
}
body section .listCont .listWrapper .bannerslide .bannerCont .swiper-slide img, html section .listCont .listWrapper .bannerslide .bannerCont .swiper-slide img {
  width: 100%;
  height: 100%;
}
body footer, html footer {
  width: 100%;
  height: 60px;
  background: #484850;
  position: fixed;
  bottom: 0;
  display: flex;
}
body footer .footerDiv:nth-of-type(1), html footer .footerDiv:nth-of-type(1) {
  background: #333333;
}
body footer .footerDiv, html footer .footerDiv {
  width: 20%;
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}
body footer .footerDiv div, html footer .footerDiv div {
  width: 100%;
  height: 3px;
}
body footer .footerDiv .focus, html footer .footerDiv .focus {
  background: red;
}
body footer .footerDiv .iconfont, html footer .footerDiv .iconfont {
  font-size: 1.3rem;
}
body footer .footerDiv span:nth-of-type(2), html footer .footerDiv span:nth-of-type(2) {
  font-size: 0.65rem;
  margin-bottom: 4px;
}
