body,html {
    margin:0;
    padding:0;
    border: 0;
    width:100%;
    height: 100%;
    header {
        width:100%;
        height:110px;
        position: fixed;
        top:0;
        div:nth-of-type(1){
            font-size:1rem;
            color: white;
            width:100%;
            height:45px;
            background: #e4366b;
            text-align: center;
            line-height: 45px;
        }
        #search{
            width:100%;
            height:65px;
            background: #52525a;
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            .iconfont{
                display: inline-flex;
                justify-content: center;
                align-items:center ;
                width:10%;
                height:42px;
                margin-left:10%;
                background: white;
                border-top-left-radius: 25px ;
                border-bottom-left-radius: 25px;
                border: none;
            }
            input{
                font-size:15px;
                border: none;
                width:70%;
                height:40px;
                margin-right:10%;
                border-top-right-radius: 25px ;
                border-bottom-right-radius: 25px;
                outline-style: none;    
            }
            
        }
    }
    section{
        width:100%;
        position: absolute;
        top:110px;
        bottom: 60px;
        background:#f7f7f7;
        overflow-y: auto;
        .listCont{
            width:100%;
            height:100%;
            .listWrapper{
                width:100%;
                height:100%;
                
                .swiper-slide{
                    width:100%;
                    height:140px;
                    display: flex;
                    flex-flow: row nowrap;
                    border-bottom: 1px solid #333333;
                    
                    .listL{
                        width:40%;
                        height:100px;
                        margin:20px 20px;
                        img{
                            width:100%;
                            height:100%;
//                          margin:10%;
                        }
                    }
                    .listR{
                        width:50%;
                        height:100px;
                        margin:20px 10px 20px 0;
                        p{
                            width:100%;
//                          height:30%;
                            font-size:13px;
                            margin: 0;
                            overflow : hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            word-break: break-all;
                            
                        }
                        div:nth-of-type(1){
                            
                            width:100%;
                            height:33.3%;
                            display: inline-flex;
                            justify-content: space-between;
                            align-items: center;
                            span:nth-of-type(1){
                                font-size: 27px;
                                color: #e02761;;
                            }
                            span:nth-of-type(2){
                                font-size: 12px;
                                margin-right:20px;
                                color: #333333;
                                
                            }
                        }
                        div:nth-of-type(2){
                            display: inline-flex;
                            justify-content: space-between;
                            align-items: center;
                            width:100%;
                            height:33.3%;
                           color: gray;
                           font-size: 15px;
                            text-decoration: line-through;
                            img{
                                height:80%;
                            }
                        }
                    }
                }
                .swiper-slide:nth-of-type(1){
                    border:0;
                }
                .bannerslide{
                    width:100%;
                    height:140px;
                    overflow: hidden;
                    .bannerCont{
                        width:100%;
                        height:100%;
                        .swiper-slide{
                            width:100%;
                            height:100%;
                            img{
                                width:100%;
                                height:173%;
                                
                            }
                        }
                    }
                }
            }
        }
        
    }
    footer{
        width:100%;
        height:60px;
        background: #484850;
        position: fixed;
        bottom: 0;
        display: flex;
        
        .footerDiv:nth-of-type(1){
            background:#333333;
        }
        .footerDiv{
            width:20%;
            display: inline-flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            color: white;
            div{
                width:100%;
                height:3px;
            }
            .focus{
                background: red;
            }
            .iconfont{
                font-size:0.65rem;
                
            }
            span:nth-of-type(2){
                font-size: 0.5rem;
                margin-bottom:4px;
                
            }
            
        }
        
    }
}
